$white: #fff;
$black: #000;
$secondary: #FF2BF1;
$primaryGradient: linear-gradient(124deg, #FFA54B 9.47%, #FF25F8 96.65%);
$primaryBlack: #232323;
$textTitleDark: #2D2D2D;
$mask: rgba(0, 0, 0, 0.60);
