$white: #fff;
$black: #000;
$secondary: #FF2BF1;
$primaryGradient: linear-gradient(124deg, #FFA54B 9.47%, #FF25F8 96.65%);
$secondaryGradient: linear-gradient(135deg, rgba(242, 164, 96, 0.50) 0%, rgba(235, 81, 204, 0.50) 100%);
$primaryBlack: #232323;
$textTitleDark: #2D2D2D;
$tertiaryText: rgba(255, 255, 255, 0.72);
$mask: rgba(0, 0, 0, 0.60);
