@import "layout.scss";
@import "colors.scss";

/* BURGER BUTTON */
.burger-button {
  position: relative;
  cursor: pointer;
  & * {
    transition: ease-in-out all 0.5s;
  }
  & .burger-button__path {
    width: 40px;
    height: 4px;
    background-color: $white;
    border-radius: 999px;
    position: absolute;
  }
  & .burger-button__path:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  & .burger-button__path:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  & .burger-button__path:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }


  &.open .burger-button__path:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 0px;
  }

  &.open .burger-button__path:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  &.open .burger-button__path:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 24px;
    left: 0px;
  }
}

.burger-menu__content {
  @include flex-row-center__jc_around;
  transition: all ease-in-out 0.5s;
  height: 0;
  position: absolute;
  left: 0;
  top: 100px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  background-color: $primaryBlack;
  width: 100%;
}


/* ACCORDION */

.accordion-list {
  @include flex-col-center;
  border-top: 0.5px solid $white;
  border-bottom: 0.5px solid $white;
  .accordion-list__item {
    cursor: pointer;
    overflow: hidden;
    height: 110px;
    transition: all ease-in-out 0.5s;
    @include flex-row-center;
    max-width: 100%;
    width: 100%;
    background-color: $primaryBlack;
    border-top: 0.5px solid $white;
    border-bottom: 0.5px solid $white;
    & > * {
      transition: all ease-in-out 0.5s;
    }
    .accordion-list-item__content {
      padding-left: 9.7%;
      width: 100%;
      & > h4 {
        margin-top: 40px;
        margin-bottom: 40px;
        font-weight: 300;
      }
      & > p {
        display: none;
        max-width: 47.1vw;
      }
    }
    .accordion-list-item__img {
      display: none;
      max-width: 38.6%;
    }
  }
}

/* FLIP CARD */
.flip-card {
  width: 30.5vw;
  background-color: transparent;
  margin-bottom: 20px;
  perspective: 1000px;
  aspect-ratio: 1 / 1;
  &:hover .flip-card__inner {
    transform: rotateY(180deg);
  }
  .flip-card__inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    .flip-card__front, .flip-card__back {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
   .flip-card__front {
      background: $primaryGradient;
    }
    .flip-card__back {
      background-color: $white;
      transform: rotateY(180deg);
    }
  }
}


/* FADE CARD */
.fade-card-col {
  @include flex-col-center;
  gap: 30px;
  .fade-card {
    width: 100%;
    height: 100%;
    position: relative;
    &:hover .fade-card-content__gradient {
      opacity: 1;
    }
    &.small-variant {
      @include align_self(flex-end);
      width: 70%;
      height: 60%;
      margin-top: 80px;
      margin-bottom: 0;
      &.left-alignment {
        @include align_self(flex-start);
        margin-bottom: 80px;
        margin-top: 0;
      }
    }
    & > .fade-card__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    & > .fade-card-content__gradient {
      opacity: 0;
      background: $secondaryGradient;
      position: absolute;
      top: 0;
      width: 100%;
      height: calc(100% - 4px);
      box-sizing: border-box;
      transition: ease-in-out all 0.5s;

      & > .fade-card__content {
        @include flex-col-start;
        width: 100%;
        height: 100%;
        background-color: $mask;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;
        box-sizing: border-box;
        & > h4 {
          margin-bottom: 16px;
        }
      }
    }
  }
}


.linker-list {
  @include flex-row-center;
  align-items: flex-start;
  gap: 80px;
  & > .linker-list__col {
    @include flex-col-center;
    align-items: flex-start;
    gap: 16px;
  }
}



.content {
  @include normalize-flex__col;
}

.header {
  padding-left: 8.3%;
  padding-right: 8.3%;
  position: fixed;
  width: 100%;
  top: 22px;
  box-sizing: border-box;
  z-index: 10;
}

.header__inner {
  @include flex-row-center;
  width: 100%;
  height: 100px;
}

.header__links {
  @include flex-row-center;
  & > a {
    margin-right: 40px;
  }
  .header-links-burger__button {
    @include flex-col-center;
    width: 40px;
    height: 28px;

    .header-links-burger-button__path {
      width: 40px;
      height: 4px;
      border-radius: 4px;
      background-color: $white;
    }
  }
}

.footer {
  background-color: $primaryBlack;
  padding: 42px 12vw 10vh;
  & > .footer__inner {
    @include flex-row-center;
    & > .footer-inner__left-side {
      gap: 40px;
      @include flex-col-center;
    }
  }
}


