@import "layout.scss";
@import "colors.scss";






/* ACCORDION */

.accordion-list {
  @include flex-col-center;
  border-top: 0.5px solid $white;
  border-bottom: 0.5px solid $white;
  .accordion-list__item {
    cursor: pointer;
    overflow: hidden;
    height: 110px;
    transition: all ease-in-out 0.5s;
    @include flex-row-center;
    max-width: 100%;
    width: 100%;
    background-color: $primaryBlack;
    border-top: 0.5px solid $white;
    border-bottom: 0.5px solid $white;
    & > * {
      transition: all ease-in-out 0.5s;
    }
    .accordion-list-item__content {
      padding-left: 9.7%;
      width: 100%;
      & > h4 {
        margin-top: 40px;
        margin-bottom: 40px;
        font-weight: 300;
      }
      & > p {
        display: none;
        max-width: 47.1vw;
      }
    }
    .accordion-list-item__img {
      display: none;
      max-width: 38.6%;
    }
  }
}

/* FLIP CARD */
.flip-card {
  width: 30.5vw;
  background-color: transparent;
  margin-bottom: 20px;
  perspective: 1000px;
  aspect-ratio: 1 / 1;
  &:hover .flip-card__inner {
    transform: rotateY(180deg);
  }
  .flip-card__inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    .flip-card__front, .flip-card__back {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
   .flip-card__front {
      background: $primaryGradient;
    }
    .flip-card__back {
      background-color: $white;
      transform: rotateY(180deg);
    }
  }


}



.content {
  @include normalize-flex__col;
}

.header {
  padding-left: 8.3%;
  padding-right: 8.3%;
  position: fixed;
  width: 100%;
  top: 22px;
  box-sizing: border-box;
}

.header__inner {
  @include flex-row-center;
  width: 100%;
  height: 100px;
}

.header__links {
  @include flex-row-center;
  gap: 2.7%;

  .header-links-burger__button {
    @include flex-col-center;
    width: 40px;
    height: 28px;

    .header-links-burger-button__path {
      width: 40px;
      height: 4px;
      border-radius: 4px;
      background-color: $white;
    }
  }
}



.first-section {
  background-image: url("./../assets/png/section1BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  .first-section__mask {
    background-color: $mask;
    height: 100%;
    padding: 27.8% 5.2% 12.5%;
  }
}

.second-section {
  @include flex-col-center;
  background: $primaryGradient;
  padding-top: 80px;
  & > .second-section__heading {
    padding-left: 11.875%;
    padding-right: 11.875%;
  }
  .second-section__illustration {
    width: 100%;
    height: 100%;
    max-width: 76.25%;
    object-fit: contain;
    margin-top: 60px;
    margin-bottom: -138px;
    z-index: 2;
  }
}

.third-section {
  background-color: $primaryBlack;
  padding-top: calc(138px + 36px);
  padding-left: 10%;
  padding-right: 12.7%;
  @include flex-col-center;
  .third-section__heading {
    @include align_self(flex-start);
  }
  .third-section__content {
    max-width: 1024px;
    margin-bottom: 96px;
  }
  .third-section-content__texts {
    margin-top: 96px;
    @include flex-row-center;
    gap: 15px;
    & > span {
      max-width: 500px;
    }
    & > span:nth-child(1) {
      padding-bottom: 100px;
    }
    & > span:nth-child(2) {
      padding-top: 100px;
    }
  }
  .third-section-content__learn-more {
    @include flex-row-center;
    gap: 100px;
    margin-top: 36px;
  }
}

.fourth-section {
  @include section-heading(false);
  background-color: $primaryBlack;
  padding-bottom: 55px;

}

.fifth-section {
  @include section-heading(true);
  background-color: $primaryBlack;
  .fifth-section__why-columns {
    @include flex-col-center;
    padding-left: 13.2%;
    padding-right: 9.86%;
    margin-bottom: 40px;
    gap: 87px;
    .fifth-section__why-columns__column {
      @include flex-row-center;
      align-items: flex-start;
      gap: 80px;
      .fifth-section__why-columns-column__item {
        @include flex-row-center;
        max-width: 540px;
        align-items: flex-start;
        gap: 26px;
          & > .why-item__content {
           @include flex-col-center;
            align-items: flex-start;
          }
        & > svg {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

.sixth-section {
  @include section-heading(false);
  background-color: $primaryBlack;
  & > .sixth-section__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    & .flip-card__front, .flip-card__back {
      @include flex-full-center;
      & > p {
        padding: 50px;
      }
    }
  }
  padding-bottom: 69px;
}


.seventh-section {
  @include section-heading(true);
  background-color: $primaryBlack;
  .seventh-section__women-led {
    @include flex-row-center;
    align-items: flex-start;
    padding-left: 9.735%;
    padding-right: 8.75%;
    gap: 80px;
    .women-led__texts {
      max-width: 32.6vw;
      & > p {
        margin-bottom: 40px;
      }
    }
    .women-led__illustration {
      @include flex-col-center;
      .women-led-illustration__img {
        width: 43.6vw;
        object-fit: contain;
      }
      .women-led-illustration__button {
        @include align_self(flex-end);
        margin-top: 89px;
      }
    }
  }
}


.eighth-section {
  padding-top: calc(202px + 80px);
  background-color: $primaryBlack;
  padding-left: 5.5vw;
  padding-right: 5.5vw;
  .eighth-section__quote {
    width: 100%;
    box-sizing: border-box;
    background-color: $white;
    padding-left: 6.25%;
    padding-right: 6.25%;
    .eighth-section__quote-illustrations {
      @include flex-row-center;
      & > img {
        width: 13.8vw;
        object-fit: contain;
        margin-top: -80px;
      }
    }
    .eighth-section__quote-icon {
      margin-top: -50px;
    }
  }

}
