

.primary-button {
  padding: 12px 28px;
  gap: 10px;
  border-radius: 70px;
  background-color: $secondary;
  border: none;
}


.secondary-button {
  padding: 12px 28px;
  border: none;
  gap: 10px;
  border-radius: 70px;
  background-color: $white;
}
