


@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-row-center__jc_around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-full-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-center__jc-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flex-col-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

@mixin align_self($pos) {
  align-self: $pos;
}

@mixin normalize-flex__col {
  display: flex;
  flex-direction: column;
  gap: 0;
}

@mixin section-heading($isLeft: false, $bottom: 92px) {
  .section-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: if($isLeft, flex-start, flex-end);
    padding-left: 7.7%;
    padding-right: 7.7%;
    margin-bottom: $bottom;
  }
}

@mixin section-heading-underline($width: 0px, $background: $white, $top: 110%, $left: 0) {
  & {
    position: relative;
  }
  &::before {
    content: "";
    position: absolute;
    top: $top;
    width: $width;
    left: $left;
    height: 8px;
    border-radius: 2px;
    background: $background;
  }
}
