/* Text styles with colors */

.lato16White600 {
  @extend .lato16_600;
  color: $white;
}

.lato16Dark600 {
  @extend .lato16_600;
  color: $textTitleDark;
}

.inter100White500 {
  @extend .inter100_500;
  color: $white;
}

.inter100White400 {
  @extend .inter100_500;
  color: $white;
  font-weight: 400;
}

.inter100White300 {
  @extend .inter100_500;
  color: $white;
  font-weight: 300;
}

.inter100Secondary500 {
  @extend .inter100_500;
  color: $secondary;
}

.amsterdam100Secondary400 {
  @extend .amsterdam100_400;
  color: $secondary;
}

.inter48White600 {
  @extend .inter48_600;
  color: $white;
}

.inter32White400 {
  @extend .inter32_400;
  color: $white;
}


.lato48White600  {
  @extend .lato48_600;
  color: $white;
}

.inter120Gradient800 {
  @extend .inter120_800;
  background: $primaryGradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lato60White700 {
  @extend .lato60_700;
  color: $white;
}

.lato32White400 {
  @extend .lato32_400;
  color: $white;
}

.inter32White600 {
  @extend .inter32_400;
  color: $white;
}

.lato20White400 {
  @extend .lato20_400;
  color: $white;
}

.lato20Tertiary400 {
  @extend .lato20_400;
  color: $tertiaryText;
}

.lato20Dark400 {
  @extend .lato20_400;
  color: $textTitleDark;
}

.lato32White700 {
  @extend .lato32_400;
  color: $white;
  font-weight: 700;
}

.lato24White400 {
  @extend .lato24_400;
  color: $white;
}


.lato20Dark500 {
  @extend .lato20_400;
  color: $textTitleDark;
  font-weight: 500;
}

.lato14Dark600 {
  @extend .lato14_600;
  color: $textTitleDark;
}

.lato100White400 {
  @extend .lato100_400;
  color: $white;
}

.lato100White300 {
  @extend .lato100_400;
  color: $white;
  font-weight: 300;
}


.lato100White700 {
  @extend .lato100_400;
  color: $white;
  font-weight: 700;
}

.roboto16White400 {
  @extend .roboto16_400;
  color: $white;
}
