@import 'colors.scss';


/* Misc */

.uppercase-text {
  text-transform: uppercase;
}

.normalize-links {
  text-decoration: none;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left
}

.break-line {
  word-break: break-all;
}

/* Typo */
.lato16_600 {
  font-family: Lato, serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.inter100_500 {
  font-family: Inter, serif;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.amsterdam100_400 {
  font-family: Amsterdam Handwriting Regular, serif;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.inter48_600 {
  font-family: Inter, serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}


.inter32_400 {
  font-family: Inter, serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.lato48_600 {
  font-family: Lato, serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.inter120_800 {
  font-family: Inter, serif;
  font-size: 7.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
}

.lato60_700 {
  font-family: Lato, serif;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}


.lato32_400 {
  font-family: Lato, serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.lato20_400 {
  font-family: Lato, serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.lato24_400 {
  font-family: Lato, serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.lato14_600 {
  font-family: Lato, serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
