/* BURGER BUTTON */
.burger-button {
  position: relative;
  cursor: pointer; }
  .burger-button * {
    transition: ease-in-out all 0.5s; }
  .burger-button .burger-button__path {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 999px;
    position: absolute; }
  .burger-button .burger-button__path:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  .burger-button .burger-button__path:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  .burger-button .burger-button__path:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  .burger-button.open .burger-button__path:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 0px; }
  .burger-button.open .burger-button__path:nth-child(2) {
    width: 0%;
    opacity: 0; }
  .burger-button.open .burger-button__path:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 24px;
    left: 0px; }

.burger-menu__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: all ease-in-out 0.5s;
  height: 0;
  position: absolute;
  left: 0;
  top: 100px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  background-color: #232323;
  width: 100%; }

/* ACCORDION */
.accordion-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid #fff;
  border-bottom: 0.5px solid #fff; }
  .accordion-list .accordion-list__item {
    cursor: pointer;
    overflow: hidden;
    height: 110px;
    transition: all ease-in-out 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
    background-color: #232323;
    border-top: 0.5px solid #fff;
    border-bottom: 0.5px solid #fff; }
    .accordion-list .accordion-list__item > * {
      transition: all ease-in-out 0.5s; }
    .accordion-list .accordion-list__item .accordion-list-item__content {
      padding-left: 9.7%;
      width: 100%; }
      .accordion-list .accordion-list__item .accordion-list-item__content > h4 {
        margin-top: 40px;
        margin-bottom: 40px;
        font-weight: 300; }
      .accordion-list .accordion-list__item .accordion-list-item__content > p {
        display: none;
        max-width: 47.1vw; }
    .accordion-list .accordion-list__item .accordion-list-item__img {
      display: none;
      max-width: 38.6%; }

/* FLIP CARD */
.flip-card {
  width: 30.5vw;
  background-color: transparent;
  margin-bottom: 20px;
  perspective: 1000px;
  aspect-ratio: 1 / 1; }
  .flip-card:hover .flip-card__inner {
    transform: rotateY(180deg); }
  .flip-card .flip-card__inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
    .flip-card .flip-card__inner .flip-card__front, .flip-card .flip-card__inner .flip-card__back {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .flip-card .flip-card__inner .flip-card__front {
      background: linear-gradient(124deg, #FFA54B 9.47%, #FF25F8 96.65%); }
    .flip-card .flip-card__inner .flip-card__back {
      background-color: #fff;
      transform: rotateY(180deg); }

/* FADE CARD */
.fade-card-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px; }
  .fade-card-col .fade-card {
    width: 100%;
    height: 100%;
    position: relative; }
    .fade-card-col .fade-card:hover .fade-card-content__gradient {
      opacity: 1; }
    .fade-card-col .fade-card.small-variant {
      align-self: flex-end;
      width: 70%;
      height: 60%;
      margin-top: 80px;
      margin-bottom: 0; }
      .fade-card-col .fade-card.small-variant.left-alignment {
        align-self: flex-start;
        margin-bottom: 80px;
        margin-top: 0; }
    .fade-card-col .fade-card > .fade-card__img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .fade-card-col .fade-card > .fade-card-content__gradient {
      opacity: 0;
      background: linear-gradient(135deg, rgba(242, 164, 96, 0.5) 0%, rgba(235, 81, 204, 0.5) 100%);
      position: absolute;
      top: 0;
      width: 100%;
      height: calc(100% - 4px);
      box-sizing: border-box;
      transition: ease-in-out all 0.5s; }
      .fade-card-col .fade-card > .fade-card-content__gradient > .fade-card__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;
        box-sizing: border-box; }
        .fade-card-col .fade-card > .fade-card-content__gradient > .fade-card__content > h4 {
          margin-bottom: 16px; }

.linker-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  gap: 80px; }
  .linker-list > .linker-list__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    gap: 16px; }

.content {
  display: flex;
  flex-direction: column;
  gap: 0; }

.header {
  padding-left: 8.3%;
  padding-right: 8.3%;
  position: fixed;
  width: 100%;
  top: 22px;
  box-sizing: border-box;
  z-index: 10; }

.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px; }

.header__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .header__links > a {
    margin-right: 40px; }
  .header__links .header-links-burger__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40px;
    height: 28px; }
    .header__links .header-links-burger__button .header-links-burger-button__path {
      width: 40px;
      height: 4px;
      border-radius: 4px;
      background-color: #fff; }

.footer {
  background-color: #232323;
  padding: 42px 12vw 10vh; }
  .footer > .footer__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .footer > .footer__inner > .footer-inner__left-side {
      gap: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
