/* Misc */
.uppercase-text {
  text-transform: uppercase; }

.normalize-links {
  text-decoration: none; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.break-line {
  word-break: break-all; }

/* Typo */
.lato16_600, .lato16White600, .lato16Dark600 {
  font-family: Lato, serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; }

.inter100_500, .inter100White500, .inter100White400, .inter100White300, .inter100Secondary500 {
  font-family: Inter, serif;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; }

.amsterdam100_400, .amsterdam100Secondary400 {
  font-family: Amsterdam Handwriting Regular, serif;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; }

.inter48_600, .inter48White600 {
  font-family: Inter, serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; }

.inter32_400, .inter32White400, .inter32White600 {
  font-family: Inter, serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; }

.lato48_600, .lato48White600 {
  font-family: Lato, serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; }

.inter120_800, .inter120Gradient800 {
  font-family: Inter, serif;
  font-size: 7.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; }

.lato60_700, .lato60White700 {
  font-family: Lato, serif;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; }

.lato32_400, .lato32White400, .lato32White700 {
  font-family: Lato, serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; }

.lato20_400, .lato20White400, .lato20Tertiary400, .lato20Dark400, .lato20Dark500 {
  font-family: Lato, serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; }

.lato24_400, .lato24White400 {
  font-family: Lato, serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; }

.lato14_600, .lato14Dark600 {
  font-family: Lato, serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; }

.lato100_400, .lato100White400, .lato100White300, .lato100White700 {
  font-family: Lato, serif;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 2px; }

.roboto16_400, .roboto16White400 {
  font-family: Roboto, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; }

/* Text styles with colors */
.lato16White600 {
  color: #fff; }

.lato16Dark600 {
  color: #2D2D2D; }

.inter100White500 {
  color: #fff; }

.inter100White400 {
  color: #fff;
  font-weight: 400; }

.inter100White300 {
  color: #fff;
  font-weight: 300; }

.inter100Secondary500 {
  color: #FF2BF1; }

.amsterdam100Secondary400 {
  color: #FF2BF1; }

.inter48White600 {
  color: #fff; }

.inter32White400 {
  color: #fff; }

.lato48White600 {
  color: #fff; }

.inter120Gradient800 {
  background: linear-gradient(124deg, #FFA54B 9.47%, #FF25F8 96.65%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.lato60White700 {
  color: #fff; }

.lato32White400 {
  color: #fff; }

.inter32White600 {
  color: #fff; }

.lato20White400 {
  color: #fff; }

.lato20Tertiary400 {
  color: rgba(255, 255, 255, 0.72); }

.lato20Dark400 {
  color: #2D2D2D; }

.lato32White700 {
  color: #fff;
  font-weight: 700; }

.lato24White400 {
  color: #fff; }

.lato20Dark500 {
  color: #2D2D2D;
  font-weight: 500; }

.lato14Dark600 {
  color: #2D2D2D; }

.lato100White400 {
  color: #fff; }

.lato100White300 {
  color: #fff;
  font-weight: 300; }

.lato100White700 {
  color: #fff;
  font-weight: 700; }

.roboto16White400 {
  color: #fff; }

.primary-button {
  transition: all ease-in-out 0.5s;
  padding: 12px 28px;
  gap: 10px;
  border-radius: 70px;
  background-color: #FF2BF1;
  border: none; }

.primary-button:hover {
  background-color: #fff;
  color: #2D2D2D; }

.secondary-button {
  transition: all ease-in-out 0.5s;
  padding: 12px 28px;
  border: none;
  gap: 10px;
  border-radius: 70px;
  background-color: #fff; }

.secondary-button:hover {
  background-color: #FF2BF1;
  color: #fff; }

.arrow-button {
  transition: all ease-in-out 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 100px;
  height: 50px;
  background-color: #FF2BF1;
  border: none; }

.arrow-button:hover {
  background-color: #232323;
  color: #fff; }

/* BURGER BUTTON */
.burger-button {
  position: relative;
  cursor: pointer; }
  .burger-button * {
    transition: ease-in-out all 0.5s; }
  .burger-button .burger-button__path {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 999px;
    position: absolute; }
  .burger-button .burger-button__path:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  .burger-button .burger-button__path:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  .burger-button .burger-button__path:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  .burger-button.open .burger-button__path:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 0px; }
  .burger-button.open .burger-button__path:nth-child(2) {
    width: 0%;
    opacity: 0; }
  .burger-button.open .burger-button__path:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 24px;
    left: 0px; }

.burger-menu__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: all ease-in-out 0.5s;
  height: 0;
  position: absolute;
  left: 0;
  top: 100px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  background-color: #232323;
  width: 100%; }

/* ACCORDION */
.accordion-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid #fff;
  border-bottom: 0.5px solid #fff; }
  .accordion-list .accordion-list__item {
    cursor: pointer;
    overflow: hidden;
    height: 110px;
    transition: all ease-in-out 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
    background-color: #232323;
    border-top: 0.5px solid #fff;
    border-bottom: 0.5px solid #fff; }
    .accordion-list .accordion-list__item > * {
      transition: all ease-in-out 0.5s; }
    .accordion-list .accordion-list__item .accordion-list-item__content {
      padding-left: 9.7%;
      width: 100%; }
      .accordion-list .accordion-list__item .accordion-list-item__content > h4 {
        margin-top: 40px;
        margin-bottom: 40px;
        font-weight: 300; }
      .accordion-list .accordion-list__item .accordion-list-item__content > p {
        display: none;
        max-width: 47.1vw; }
    .accordion-list .accordion-list__item .accordion-list-item__img {
      display: none;
      max-width: 38.6%; }

/* FLIP CARD */
.flip-card {
  width: 30.5vw;
  background-color: transparent;
  margin-bottom: 20px;
  perspective: 1000px;
  aspect-ratio: 1 / 1; }
  .flip-card:hover .flip-card__inner {
    transform: rotateY(180deg); }
  .flip-card .flip-card__inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
    .flip-card .flip-card__inner .flip-card__front, .flip-card .flip-card__inner .flip-card__back {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .flip-card .flip-card__inner .flip-card__front {
      background: linear-gradient(124deg, #FFA54B 9.47%, #FF25F8 96.65%); }
    .flip-card .flip-card__inner .flip-card__back {
      background-color: #fff;
      transform: rotateY(180deg); }

/* FADE CARD */
.fade-card-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px; }
  .fade-card-col .fade-card {
    width: 100%;
    height: 100%;
    position: relative; }
    .fade-card-col .fade-card:hover .fade-card-content__gradient {
      opacity: 1; }
    .fade-card-col .fade-card.small-variant {
      align-self: flex-end;
      width: 70%;
      height: 60%;
      margin-top: 80px;
      margin-bottom: 0; }
      .fade-card-col .fade-card.small-variant.left-alignment {
        align-self: flex-start;
        margin-bottom: 80px;
        margin-top: 0; }
    .fade-card-col .fade-card > .fade-card__img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .fade-card-col .fade-card > .fade-card-content__gradient {
      opacity: 0;
      background: linear-gradient(135deg, rgba(242, 164, 96, 0.5) 0%, rgba(235, 81, 204, 0.5) 100%);
      position: absolute;
      top: 0;
      width: 100%;
      height: calc(100% - 4px);
      box-sizing: border-box;
      transition: ease-in-out all 0.5s; }
      .fade-card-col .fade-card > .fade-card-content__gradient > .fade-card__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;
        box-sizing: border-box; }
        .fade-card-col .fade-card > .fade-card-content__gradient > .fade-card__content > h4 {
          margin-bottom: 16px; }

.linker-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  gap: 80px; }
  .linker-list > .linker-list__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    gap: 16px; }

.content {
  display: flex;
  flex-direction: column;
  gap: 0; }

.header {
  padding-left: 8.3%;
  padding-right: 8.3%;
  position: fixed;
  width: 100%;
  top: 22px;
  box-sizing: border-box;
  z-index: 10; }

.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px; }

.header__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .header__links > a {
    margin-right: 40px; }
  .header__links .header-links-burger__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40px;
    height: 28px; }
    .header__links .header-links-burger__button .header-links-burger-button__path {
      width: 40px;
      height: 4px;
      border-radius: 4px;
      background-color: #fff; }

.footer {
  background-color: #232323;
  padding: 42px 12vw 10vh; }
  .footer > .footer__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .footer > .footer__inner > .footer-inner__left-side {
      gap: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }

.first-section > video {
  width: 100%;
  height: 110%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1; }

.first-section .first-section__mask {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  padding: 27.8% 5.2% 12.5%; }

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(124deg, #FFA54B 9.47%, #FF25F8 96.65%);
  padding-top: 80px; }
  .second-section > .second-section__heading {
    padding-left: 11.875%;
    padding-right: 11.875%; }
  .second-section .second-section__illustration {
    width: 100%;
    height: 100%;
    max-width: 76.25%;
    object-fit: contain;
    margin-top: 60px;
    margin-bottom: -138px;
    z-index: 2; }

.third-section {
  background-color: #232323;
  padding-top: calc(138px + 36px);
  padding-left: 10%;
  padding-right: 12.7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .third-section .third-section__heading {
    align-self: flex-start; }
    .third-section .third-section__heading {
      position: relative; }
    .third-section .third-section__heading::before {
      content: "";
      position: absolute;
      top: 110%;
      width: 90%;
      left: 0;
      height: 8px;
      border-radius: 2px;
      background: linear-gradient(124deg, #FFA54B 9.47%, #FF25F8 96.65%); }
  .third-section .third-section__content {
    max-width: 1024px;
    margin-bottom: 96px; }
  .third-section .third-section-content__texts {
    margin-top: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px; }
    .third-section .third-section-content__texts > span {
      max-width: 500px; }
    .third-section .third-section-content__texts > span:nth-child(1) {
      padding-bottom: 100px; }
    .third-section .third-section-content__texts > span:nth-child(2) {
      padding-top: 100px; }
  .third-section .third-section-content__learn-more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-top: 36px; }
    .third-section .third-section-content__learn-more > button {
      margin-top: 20px;
      align-self: flex-start; }

.fourth-section {
  background-color: #232323;
  padding-bottom: 55px; }
  .fourth-section .section-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-left: 7.7%;
    padding-right: 7.7%;
    margin-bottom: 92px; }
  .fourth-section .fourth-section__heading {
    position: relative; }
  .fourth-section .fourth-section__heading::before {
    content: "";
    position: absolute;
    top: 105%;
    width: 80%;
    left: 20%;
    height: 8px;
    border-radius: 2px;
    background: linear-gradient(124deg, #FFA54B 9.47%, #FF25F8 96.65%); }

.fifth-section {
  background-color: #232323; }
  .fifth-section .section-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 7.7%;
    padding-right: 7.7%;
    margin-bottom: 92px; }
  .fifth-section .fifth-section__heading {
    position: relative; }
  .fifth-section .fifth-section__heading::before {
    content: "";
    position: absolute;
    top: 115%;
    width: 90%;
    left: 0;
    height: 8px;
    border-radius: 2px;
    background: #FF2BF1; }
  .fifth-section .fifth-section__why-columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 13.2%;
    padding-right: 9.86%;
    margin-bottom: 40px;
    gap: 87px; }
    .fifth-section .fifth-section__why-columns .fifth-section__why-columns__column {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-items: flex-start;
      gap: 80px; }
      .fifth-section .fifth-section__why-columns .fifth-section__why-columns__column .fifth-section__why-columns-column__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 540px;
        align-items: flex-start;
        gap: 26px; }
        .fifth-section .fifth-section__why-columns .fifth-section__why-columns__column .fifth-section__why-columns-column__item > .why-item__content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          align-items: flex-start; }
        .fifth-section .fifth-section__why-columns .fifth-section__why-columns__column .fifth-section__why-columns-column__item > svg {
          width: 50px;
          height: 50px; }

.sixth-section {
  background-color: #232323;
  padding-bottom: 69px; }
  .sixth-section .section-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-left: 7.7%;
    padding-right: 7.7%;
    margin-bottom: 92px; }
  .sixth-section .sixth-section__heading {
    position: relative; }
  .sixth-section .sixth-section__heading::before {
    content: "";
    position: absolute;
    top: 110%;
    width: 100%;
    left: 0;
    height: 8px;
    border-radius: 2px;
    background: linear-gradient(124deg, #FFA54B 9.47%, #FF25F8 96.65%); }
  .sixth-section > .sixth-section__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px; }
    .sixth-section > .sixth-section__cards .flip-card__front, .sixth-section > .sixth-section__cards .flip-card__back {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .sixth-section > .sixth-section__cards .flip-card__front > p, .sixth-section > .sixth-section__cards .flip-card__back > p {
        padding: 50px; }

.seventh-section {
  background-color: #232323; }
  .seventh-section .section-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 7.7%;
    padding-right: 7.7%;
    margin-bottom: 92px; }
  .seventh-section .seventh-section__heading {
    position: relative; }
  .seventh-section .seventh-section__heading::before {
    content: "";
    position: absolute;
    top: 110%;
    width: 110%;
    left: 0;
    height: 8px;
    border-radius: 2px;
    background: linear-gradient(124deg, #FFA54B 9.47%, #FF25F8 96.65%); }
  .seventh-section .seventh-section__women-led {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    padding-left: 9.735%;
    padding-right: 8.75%;
    gap: 80px; }
    .seventh-section .seventh-section__women-led .women-led__texts {
      max-width: 32.6vw; }
      .seventh-section .seventh-section__women-led .women-led__texts > p {
        margin-bottom: 40px; }
    .seventh-section .seventh-section__women-led .women-led__illustration {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .seventh-section .seventh-section__women-led .women-led__illustration .women-led-illustration__img {
        width: 43.6vw;
        object-fit: contain; }
      .seventh-section .seventh-section__women-led .women-led__illustration .women-led-illustration__button {
        align-self: flex-end;
        margin-top: 89px; }

.eighth-section {
  background-color: #232323;
  padding: calc(202px + 80px) 5.5vw 200px;
  overflow-x: hidden; }
  .eighth-section .eighth-section__quote {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    padding-left: 6.25%;
    padding-right: 6.25%;
    padding-bottom: 146px; }
    .eighth-section .eighth-section__quote .eighth-section__quote-illustrations {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .eighth-section .eighth-section__quote .eighth-section__quote-illustrations > img {
        width: 13.8vw;
        object-fit: contain;
        margin-top: -80px; }
    .eighth-section .eighth-section__quote .eighth-section__quote-icon {
      margin-top: -50px;
      transition: ease-in-out all 0.5s; }
    .eighth-section .eighth-section__quote .quote-item__list-outer {
      overflow: hidden; }
    .eighth-section .eighth-section__quote .quote-item__list {
      display: flex;
      flex-direction: row;
      transition: ease-in-out all 0.5s;
      flex-wrap: nowrap;
      position: relative; }
      .eighth-section .eighth-section__quote .quote-item__list .quote-item {
        width: 100%;
        min-width: 100%; }
    .eighth-section .eighth-section__quote .quote-content__inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .eighth-section .eighth-section__quote .quote-content__inner > .quote-content-inner__text {
        max-width: 41.25vw; }
      .eighth-section .eighth-section__quote .quote-content__inner > .quote-content-inner__author {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; }
        .eighth-section .eighth-section__quote .quote-content__inner > .quote-content-inner__author > .quote-controls {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          align-self: flex-start;
          gap: 66px;
          margin-top: 24px; }

.ninth-section {
  background-color: #232323;
  padding-bottom: 195px; }
  .ninth-section .section-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 7.7%;
    padding-right: 7.7%;
    margin-bottom: 30px; }
  .ninth-section .ninth-section__heading {
    position: relative; }
  .ninth-section .ninth-section__heading::before {
    content: "";
    position: absolute;
    top: 110%;
    width: 110%;
    left: 0;
    height: 8px;
    border-radius: 2px;
    background: linear-gradient(124deg, #FFA54B 9.47%, #FF25F8 96.65%); }
  .ninth-section .diff-blog__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 6.1vw;
    padding-right: 6.1vw;
    gap: 30px;
    margin-bottom: 30px; }
  .ninth-section .ninth-section__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 150px;
    box-sizing: border-box; }

.pre-footer-section {
  background: linear-gradient(124deg, #FFA54B 9.47%, #FF25F8 96.65%);
  padding: 97px 11.1vw; }
  .pre-footer-section > .pre-footer-section__text-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px; }
    .pre-footer-section > .pre-footer-section__text-content > button {
      align-self: flex-end;
      margin-left: 40px; }
