 @font-face {
    font-family: 'Amsterdam Handwriting Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Amsterdam Handwriting Regular'), url('AmsterdamhandwritingRegular-6Y1Vo.woff') format('woff');
 }
